* {
    box-sizing: border-box;
    margin: 0;
  }

:root {
    --max-width: 1217px;
    --section_margin: 160px;
    --side_offset: 100px;
    --text_size: 1.125rem;
    --head_title: 2.5rem;
    --line-height: 1.55;
}

@font-face {
    font-family: "AvertaKyivstar-Regular";
    src: local("AvertaKyivstar-Regular"),
    url(/fonts/AvertaKyivstar-Regular.woff)
}

body {
    background-color: #0E1117;
    font-family: "AvertaKyivstar-Regular";
    font-size: var(--text_size);
    color: #ffff;
    line-height: var(--line-height);
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    width: calc(100% - var(--side_offset) * 2);
}
/* .container {
    padding: 112px;
    display: grid;
    max-width: 1440px;
    justify-items: center;
    width: 100%;
} */

.main_head {
    display: flex;
    justify-content: flex-start;
    height: 64px;
    align-items: center;
    width: inherit;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
}

.main_head img {
    width: 101px;
    height: 24px;
    display: block;
    margin-left: 32px;
}

.head_container{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.head { 
    margin-top: 96px;
}

.head_title {
    align-self: flex-start;
}

.head_title h1 {
    font-size: var(--head_title);
    line-height: 56px;
    font-weight: 700;
}

.head_description p + p {
    margin-top: 1rem;
}


.stats_title h2{
   font-size: 72px;
   line-height: 80px;
   font-weight: 700;
   display: inline;
}

.stats_title {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 800px;
    padding: 40px 0 0px 35px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    margin-top: var(--section_margin);
    }
    
.stats_dots {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: repeat(4, 80px);
    }
    
.stats_dots > div:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-bottom: 80px;
    background-color: #FBDD00;
    }
    
.stats_dots > div:nth-child(2) {
    grid-column: 1;
    grid-row: 2 / span 2;
    width: 80px;
    height: 80px;
    }
    
.stats_dots > div:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    background-color: #FBDD00;
    width: 80px;
    height: 80px;
    }
    
.stats_dots > div:nth-child(4) {
    grid-column: 2;
    grid-row: 4;
    width: 80px;
    height: 80px;
    background-color: #FBDD00;
    }
    
.stats_dots > div:nth-child(5) {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 800px;
    padding: 40px 0 0px 35px;
    }
    
.stats_title {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 800px;
    padding: 40px 0 0px 35px;
    }

.progress {
    display: grid;
    margin-top: var(--section_margin);

}

.progress_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

.progress_item {
    display: flex;
    flex-direction: column;
}

.progress_description {
    padding-top: 15px;
}


.progress_count {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 6.125rem;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    line-height: 0.88;
    margin: 0;
    padding-bottom: 24px;
    text-shadow: none;
}


.products {
    display: grid;
    margin-top: var(--section_margin);
}

.products_head {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.products_grid {
    display: grid;
    row-gap: 80px;
}

.products_head h3 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

.products_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #373C43;
    border-radius: 16px;
    min-height: 432px;
    padding: 16px 48px;
    grid-gap: 32px;
    align-items: center;
}

.products_item:nth-child(odd) .item_description{
    grid-column: 2;
    grid-row: 1;
}

.item_description h3 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0 0 1.5rem;
}

.item_left h3 {
    margin: 0 0 1.5rem;
}

.item_image {
    text-align: center;
}

/* mobile */


.about {
    margin-top: var(--section_margin);
    background: url('/media/Group\ 3935.png') no-repeat left center;
}

.about .center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

.about_head {
   font-size: var(--head_title);
   line-height: 1.16;
   margin: 0 0 var();
}

.list {
    padding: 16px 0;
    list-style: none;
}

.list_item {
    padding-bottom: 24px;
}

.list_item + .list_item {
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {

    :root {
        --head_title: 1.5rem;
        --side_offset: 50px;
    }
    .stats_title {
        width: fit-content;
    }

    .stats_title h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .progress {
        width: fit-content;
        height: fit-content;
    }

    .progress_items {
        grid-template-columns: repeat(1, 1fr);
    }  

    .about .center {
        grid-template-columns: 1fr;
    }  
    
    .about {
        background-position-y: top;
        padding-top: 160px;
        background-size: 132px;
    }
}

@media (max-width: 500px) {

    :root {
        --head_title: 2rem;
        --side_offset: 20px;
    }

    .center {
         grid-gap: 0;
    }

    .head_title {
        margin-bottom: 2rem;
    }
}


/* .stats_title::before {
    content: "";
    display: inline-block;
    width: 80px; 
    height: 80px;
    background-color: #FBDD00;
} */
